.form{

    &__all{
        background: $first-color;

        input, select{
            color: $third-color;
        }
    }
}

input {
    border-radius: 10px;
}

::placeholder{
    color: red;
}

textarea{
    color: $third-color;
}