@font-face {
    font-family: 'bellotaregular';
    src: url('../../fonts/Bellota-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "bellotabold";
    src: url('../../fonts/Bellota-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "bellotaregular", Arial, Helvetica, sans-serif;
}

input{
    font-family: "bellotabold", Arial, Helvetica, sans-serif;
}
