@font-face {
    font-family: 'bellotaregular';
    src: url('../../fonts/Bellota-Regular-webfont.woff');
    src: url('../../fonts/Bellota-Regular-webfont.html');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "bellotaregular", Arial, Helvetica, sans-serif;
}